<!doctype html>
<html lang="en" dir="ltr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/css/index.css?{{ site.time | date: '%s%N' }}">
    <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">
</head>

<body class="{{bodyclass}}">
    <div class="container pb-5">
        <div class="logo-wrapper">
            <a href="/">
                <img class="logo img-fluid" src="/assets/img/logo.svg" alt="Symphony Massage" />
            </a>
        </div>
        <nav class="navbar navbar-expand-lg rounded">
            <div class="collapse navbar-collapse justify-content-md-center" id="navbar">
                <ul class="navbar-nav nav-pills m-auto">
                    <li class="nav-item ml-1 mr-2">
                        <a class="nav-link" href="/massage">Massages</a>
                    </li>
                    <li class="nav-item ml-2 mr-2">
                        <a class="nav-link" href="/esthetics">Esthetics</a>
                    </li>
                    <li class="nav-item ml-2 mr-2">
                        <a class="nav-link" href="/waxing">Waxing</a>
                    </li>
                    <li class="nav-item ml-2 mr-2">
                        <a class="nav-link" href="/therapist">Massage Therapist</a>
                    </li>
                    <li class="nav-item ml-2 mr-2">
                        <a class="nav-link" href="/scp">Skin Care Specialist</a>
                    </li>
                    <li class="nav-item ml-2 mr-2 d-none d-lg-block">
                        <a class="nav-link btn-primary btn-sm text-white" target="_top"
                            href="https://squareup.com/appointments/book/jw81kd2foerc6y/M64D3YZJYJN8E/start"
                            rel="nofollow" href="#">
                            Book Now
                        </a>
                    </li>
                    <li class="nav-item ml-2 mr-1 d-none d-lg-block">
                        <a class="nav-link btn-primary btn-sm text-white" target="_top"
                            href="https://squareup.com/gift/D8HJKMJC61Q3G/order"
                            rel="nofollow" href="#">
                            Gift Certificate
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <span class="license">License: MM40363</span>
        <div class="content">
            <div class="text-center pt-4 mb-4 slogan">
                <h1>Rest your mind and body.<br class="d-lg-none" /> Connect with your spirit.</h1>
            </div>
            <div class="d-lg-none mb-4 mt-3">
                <a class="btn btn-primary btn-lg btn-block" target="_top"
                    href="https://squareup.com/appointments/book/jw81kd2foerc6y/M64D3YZJYJN8E/start" rel="nofollow"
                    href="#">
                    Book Now
                </a>
            </div>
            <div class="row mt-4 ">
                <div class="col-lg-8">
                    {{content}}
                </div>
                <div class="col">
                    <div class="card">
                        <div id="map"></div>
                        <div class="card-body">
                            <h5 class="card-title" id="hours">Hours</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Monday-Friday <span class="float-right">10:00AM - 6:00PM</span></li>
                                <li class="list-group-item">Saturday <span class="float-right">10:00AM - 6:00PM</span></li>
                                <li class="list-group-item">Sunday <span class="float-right">10:00AM - 6:00PM</span></li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title" id="contact">Contact</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Phone <span class="float-right"><a href="tel://9415249700">(941)
                                            524-9700</a></span></li>
                                <li class="list-group-item">SMS <span class="float-right"><a href="sms://9415249700">(941)
                                            524-9700</a></span></li>
                                <li class="list-group-item">Facebook <span class="float-right"><a
                                            href="https://www.facebook.com/SymphonyMassage/">www.facebook.com</a></span></li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title" id="address">Address</h5>
                            <address>
                                <a
                                    href="https://www.google.com/maps/dir//4134+Gulf+of+Mexico+Drive+Suite+208+Longboat+Key+FL+34228">
                                    4134 Gulf of Mexico Drive Suite 208 <br /> Longboat Key, FL 34228
                                </a>
                            </address>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body">
                            <a href="https://www.abmp.com/" target="_blank">
                                <img border="0" style="border: none;"
                                    src="//dzdx4ocwzatbw.cloudfront.net/public/image/abmp-member-logo.gif">
                            </a>
                            <a href="http://www.massagetherapy.com/" target="_blank">
                                <img border="0" style="border: none;"
                                    src="https://www.abmp.com/sites/abmp.com/files/abmp/images/ad_massage.jpg">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/assets/js/index.js?{{ site.time | date: '%s%N' }}"></script>
<script>
    function initMap() {
        var location = {
            lat: 27.3897755750965, lng: -82.64063658976256
        };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: location,
            zoomControl: true,
            mapTypeControl: false,
            streetViewControl: false,
            overviewMapControl: false,
        });
        var marker = new google.maps.Marker({
            position: location, map: map
        });
    }
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABfDXBIaq9Tr_K5qx4hTpmmXFv3a-Ct7g&callback=initMap">    </script>

</html>
